<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de HTML5</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
</head>
<body>

  <app-logo></app-logo>

  <div class="contenedor">
    <header>
      <app-menu></app-menu>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <app-footerpage></app-footerpage>
  </footer>
  <script src="./carrusel.js" defer></script>
</body>
</html>
