<section id="galeria">
  <div class="galeria">
  <img src="https://www.revistaeyn.com/binrepository/1350x900/75c0/1200d900/none/26086/OSPL/tech-amazon-sale-black-friday-tout_1600462_20220524162918.jpg" alt="imagen">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7wVT0va_SHNpUcFCoerpSsPoITPd-lOniBg&s" alt="imagen">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXx_pOMji7FSsQs-L29_TdiL4FIEt0a7_Bg&s" alt="imagen">
  </div>
  <div class="galeria">
  <img src="https://www.revistaeyn.com/binrepository/1350x900/75c0/1200d900/none/26086/OSPL/tech-amazon-sale-black-friday-tout_1600462_20220524162918.jpg" alt="imagen">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7wVT0va_SHNpUcFCoerpSsPoITPd-lOniBg&s" alt="imagen">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXx_pOMji7FSsQs-L29_TdiL4FIEt0a7_Bg&s" alt="imagen">
  </div>
</section>
