.galeria {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.galeria img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #007246;
}

.contenedor {
  display: flex;
  margin-top: 0;
}
